<p id="notice"><%= notice %></p>

    <% @introductions.each do |introduction| %>
      <tr>
        <td>
          <%= image_tag(introduction.image_url, class: 'list_image')%>
        </td>
        <td class="list_descriptions">

          <dl>
            <strong><%= introduction.title %></strong>
            <dd><%= introduction.description%></dd>
          </dl>
        </td>
      </tr>
    <% end %>
<br>

<%= link_to 'Next', new_introduction_path, class: 'btn' %>
