<!DOCTYPE html>
<html>
<head>
  <title>KidsFun</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

  <div id="banner" class="text-nowrap">
    <%= image_tag("kids2.png") %>
    <%= @page_title || "Kids Fun" %>
  </div>
  <div class="navbar" >
    <div class="navbar-inner">
      <div class="container">

        <a href="http://www...." class="btn btn-default btn-lg active">Home</a>
        <a href="http://www..../reading" class="btn btn-default btn-lg active dropdown-toggle">Reading</a>
        <a href="http://www..../math" class="btn btn-default btn-lg active" >Math</a>
        <a href="http://www..../artwork" class="btn btn-default btn-lg active" >Artwork</a>
        <a href="http://www..../authentication" class="btn btn-default btn-lg active" >Sign in/Sign up</a>

      </div>
    </div>
  </div>



    <div class="container">
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>


</body>
</html>
